.container {
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapCanvas {
  height: 200px;
  width: 100%;
  flex: 1 1 100%;
}

.menu {
  padding: 16px 4px;
  width: 60px;
  height: 100%;
  background-color: #ffffff;
  transition: width 0.2s;
}

.menuOpen {
  width: 200px;
}

.floatingBar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 8px;
}

.addPoint {
  margin-top: 16px;
  display: inline-block;
}