.addPoint {
  position: relative;
  font-size: 42px;
  font-weight: bold;
  line-height: 1;
  border-radius: 4px;
  box-shadow: 0 4px 12px 0px rgba(0,0,0,.2);
  background-color: #ffffff;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.addPoint:hover {
  box-shadow: 0 4px 12px 0px rgba(0,0,0,.5);
}