.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
}

.modalContainer--middle {
  justify-content: center;
  align-items: center;
}

.modalContainer--top {
  justify-content: center;
  align-items: flex-start;
}

.modalContent {
  min-width: 288px;
  min-height: 100px;
  position: relative;
  padding: 32px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .16), 0 0 4px 0 rgba(0, 0, 0, .08);
}

.modalContainer--top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.closeContainer {
  position: absolute;
  right: 8px;
  top: 8px;
  opacity: 0.6;
  transition: opacity 0.2s;
  cursor: pointer;
}

.closeContainer:hover {
  opacity: 1;
}